<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Dept case</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Dept® Case" />
    <meta name="keywords" content="Dept® Case" />
    <meta name="author" content="Fabienne van den Steen" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link
      rel="icon"
      href="styles/images/header/logo_dept.svg"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/sw.js" defer></script>
  </head>
  <body>
    <a name="top"></a>
  </body>
</html>
