<header>
    <noscript>Please, turn on javascript</noscript>
    <img src="styles/images/header/logo_dept.svg" alt="Dept Agency Logo SVG" />
    <!-- MEATBALLS MENU  -->
    <span id="nav" onclick="openNav()">
    <div class="menu_wrapper">
      <input type="checkbox" class="custom" id="custom" tabindex="0" />
      <label for="custom">menu</label>
      <div class="alt-burger-menu" onclick="openNav()">
        <span class="stripe" id="stripe1"></span>
    <span class="stripe" id="stripe2"></span>
    </div>
    </div>
    </span>
    <!-- OVERLAY MENU  -->
    <div id="myNav" class="overlay">
        <div class="overlay-content">
            <a href="#home" id="home">Home</a>
            <hr />
            <a href="#">Werk</a>
            <hr />
            <a href="#">Over</a>
            <hr />
            <a href="#">Diensten</a>
            <hr />
            <a href="#">Partners</a>
            <hr />
            <a href="#">Stories</a>
            <hr />
            <a href="#">Vacatures</a>
            <hr />
            <a href="#">Events</a>
            <hr />
            <a href="#">Contact</a>
            <hr />
        </div>
    </div>
    <div class="header-hr"></div>
    <h1>Work</h1>
    <div class="header-view-case">
        <a href="">view case</a>
    </div>
</header>