<footer>
    <div>
      <div class="footer-top">
        <img
          src="styles/images/footer/dept logo.png"
          alt="Dept Agency Logo SVG"
          class="logo-dept"
        />
        <div>
          <a href="">Work</a>
          <a href="">Service</a>
          <a href="">Stories</a>
          <a href="">About</a>
          <a href="">Careers</a>
          <a href="">Contact</a>
        </div>
        <div>
          <a href=""
            ><img
              src="styles/images/footer/icon - fb.png"
              alt="Logo Facebook"
          /></a>
          <a href=""
            ><img
              src="styles/images/footer/icon - twitter.png"
              alt="Logo Twitter"
          /></a>
          <a href=""
            ><img
              src="styles/images/footer/icon - instagram.png"
              alt="Logo Instagram"
          /></a>
        </div>
      </div>
      <hr />
      <div class="footer-bottom">
        <div>
          <p>Chamber of Commerce: 63464101</p>
          <p>VAT: NL 8552.47.502.B01</p>
          <p>Terms and conditions</p>
        </div>
        <p>© 2018 Dept Agency</p>
      </div>
    </div>
    <a class="back-top" href="#top">
      <img src="styles/images/footer/Top-arrow.png" alt="arrow back to top" />
      <p>top</p>
    </a>
  </footer>
  <script src="script/script.js"></script>
</body>
</html>
