<%- include('./partials/head') %>
    <header></header>
    <main>
        <img src="styles/images/header/logo_dept.svg" alt="Dept Agency Logo SVG" />
        <h1>Ohno, no wifi</h1>
    </main>
    </body>

    </html>