<%- include('./partials/head') %> 

<%- include('./partials/header') %> 

     <main>
      <a class="all-work">Show me &nbsp;<span>all work</span></a>
      <section class="cases">
        <div>
          <img
            src="styles/images/cases/Image.png"
            alt="Dept Agency bol.com case 'A summer island in the Netherlands'"
          />
          <figcaption>Bol.com</figcaption>
          <p>A summer island in the Netherlands</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-2.png"
            alt="Dept Agency kempen case 'Not some average banking website'"
          />
          <figcaption>kempen</figcaption>
          <p>Not some average banking website</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-3.png"
            alt="Dept Agency Philips case 'Beautiful design meets innovative technology'"
          />
          <figcaption>Philips</figcaption>
          <p>Beautiful design meets innovative technology</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-4.png"
            alt="Dept Agency Gemeentemuseum case 'A 100 years of Mondriaan & De Stijl'"
          />
          <figcaption>Gemeentemuseum</figcaption>
          <p>A 100 years of Mondriaan & De Stijl</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-5.png"
            alt="Dept Agency Be Lighting case 'Delivering clarity on a global scale'"
          />
          <figcaption>Be Lighting</figcaption>
          <p>Delivering clarity on a global scale</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-6.png"
            alt="Dept Agency TUI case 'Swipe to find your next holiday destination'"
          />
          <figcaption>TUI</figcaption>
          <p>Swipe to find your next holiday destination</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-7.png"
            alt="Dept Agency Chocomel case 'A campaign for the limited edition letter packs'"
          />
          <figcaption>Chocomel</figcaption>
          <p>A campaign for the limited edition letter packs</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-8.png"
            alt="Dept Agency JBL case 'Live like a champion with Jerome Booteng'"
          />
          <figcaption>JBL</figcaption>
          <p>Live like a champion with Jerome Booteng</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-9.png"
            alt="Dept Agency Zalando case 'Innovative SEO and content strategy for Zalando'"
          />
          <figcaption>zalando</figcaption>
          <p>Innovative SEO and content strategy for Zalando</p>
          <a href="">View case</a>
        </div>
        <div>
          <img
            src="styles/images/cases/Image-10.png"
            alt="Dept Agency Koninklijke Bibliotheek case 'The search for the most influential book ever'"
          />
          <figcaption>Koninklijke Bibliotheek</figcaption>
          <p>The search for the most influential book ever</p>
          <a href="">View case</a>
        </div>
      </section>
      <section class="clients">
        <h2>Clients</h2>
        <p>
          We value a great working relationship with our clients above all else.
          It’s why they often come to our parties. It’s also why we’re able to
          challenge and inspire them to reach for the stars.
        </p>
        <div>
          <img
            src="styles/images/clients/Nivea_logo_zwart.png"
            alt="Nivea logo zwart"
          />
          <img
            src="styles/images/clients/Mona_logo_zwart.png"
            alt="Mona logo zwart"
          />
          <img
            src="styles/images/clients/Transavia_logo_zwart.png"
            alt="Transavia logo zwart"
          />
          <img
            src="styles/images/clients/Zalando_logo_zwart.png"
            alt="Zalando logo zwart"
          />
          <img
            src="styles/images/clients/Tomtom_logo_zwart.png"
            alt="Tomtom logo zwart"
          />
          <img
            src="styles/images/clients/Unilever_logo_zwart.png"
            alt="Unilever logo zwart"
          />
          <img
            src="styles/images/clients/Adidas_logo_zwart.png"
            alt="Adidas logo zwart"
          />
          <img
            src="styles/images/clients/Pathe_logo_zwart.png"
            alt="Pathe logo zwart"
          />
          <img
            src="styles/images/clients/ABN_logo_zwart.png"
            alt="ABN logo zwart"
          />
          <img
            src="styles/images/clients/Triumph_logo_zwart.png"
            alt="Triumph logo zwart"
          />
          <img
            src="styles/images/clients/Microsoft_logo_zwart-320x161.png"
            alt="Microsoft logo zwart"
          />
          <img
            src="styles/images/clients/Oxxio_logo_zwart.png"
            alt="Oxxio logo zwart"
          />
          <img
            src="styles/images/clients/NN_logo_zwart.png"
            alt="NN logo zwart"
          />
          <img
            src="styles/images/clients/Ziggo_logo_zwart.png"
            alt="Ziggo logo zwart"
          />
          <img
            src="styles/images/clients/Walibi_logo_zwart.png"
            alt="Walibi logo zwart"
          />
        </div>
      </section>
    </main>

    <%- include('./partials/foot') %> 
   