/* LOCAL FONTS - MAISON nEUE */
@font-face {
    font-family: MaisonNeueBold;
    src: url(./font/Maison_Neue_Bold.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Teko', Arial;
    font-size: 1.4rem;
}

/* choice vw to size with the width of the screen, deciding the size between the cases and the header  */
header {
  height: 70vw;
  background: url(/styles/images/Header-video.png) ;
	background-repeat:no-repeat;
  background-size: 100%;
  position: relative;
}

@media only screen and (max-device-width: 600px) {
  header {
    height: 85vw;
  }
}

a{
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}  

header img:nth-of-type(1) {
 height: 1.2em;
 padding: 2em;
 margin-left: 0.7em;
}

.header-hr {
  margin: 0 auto;
  width: 95%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 10%;
}

/* MEATBALL MENU  */
  .stripe {
    width: 20px;
    height: 2px;
    margin: 3px;
    background: rgb(0, 0, 0);
    border-radius: 10%;
    display: block;
  }

  .menu_wrapper {
    flex: 1;
    margin-left: auto; 
    margin-right: 0;;
  }

  .custom {
    position: absolute;
    opacity: 0;
    margin-top: 1.5em;
    margin-left: 3.5em;
    width: 50%;
    height: 50%;
    z-index: 1;
    cursor: pointer;
  }

  /* on focus only with tab  */
:focus-visible {
  outline: none !important;
  border:2px solid rgb(26, 24, 247); 
}

input:focus-visible ~ .alt-burger-menu    {
  outline: none !important;
  border:2px solid rgb(26, 24, 247);
} 

  .alt-burger-menu {
      padding: 2.3em;
      margin-left: 2em;
      transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .custom:checked ~ .alt-burger-menu{
    cursor: pointer;
    transform: rotate(45deg);
  }

/* OVERLAY MENU  */
  .overlay {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
  }

  hr {
    border: 0;
    height: 0.1px;
    background: rgb(255, 255, 255);
    width: 80vw;
  }
  
  .overlay-content {
    position: absolute;
    top: 10em;
    text-align: right;
    right: 15%;
    width: 80vw;
  }
  
  .overlay a {
    padding: 8px;
    font-size: 2.4rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    width: 16%;
    margin-left: auto; 
    margin-right: 0;
  }
  
  .overlay a:hover, .overlay a:focus{
    color: rgb(140, 140, 140);
  }

  .overlay a:hover:after{
    content: "";
    display: block;
    background: url("/styles/images/arrow-white.png") no-repeat;
    background-size: 0.9vw;
    width: 4vh;
    height: 8vh;
    float: left;
    margin: 0.4em 0 0 0.4em;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 1rem;
  }

  #nav {
    z-index: 10;
    position: absolute;
    top: 0em;
    right: 0em;
  }
  
  @media screen and (max-height: 450px) {
    .overlay .closebtn {
    top: 15px;
    right: 35px;
    }
  }

  @media only screen and (max-device-width: 600px) {
    .header-hr {
      visibility: hidden;
    }
  }

  #myNav {
     width: 0%;
     visibility: hidden;
  }

  /* choice vw to size with the width of the screen, making it stay big but responsive  */
h1 {
  margin-left: 0.1em;
  margin-top: 0.2em;
  font-size: 30vw;
  font-weight: 200;
  margin-bottom: 0;
}

header .header-view-case {
  display: flex;
  justify-content: flex-end;
}

header .header-view-case a {
  position: relative;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 0.7em;
  width: 10em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin-right: 3em;
  top: -4em;
}


@media only screen and (max-device-width: 600px) {
  header .header-view-case a {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 1em;
    width: 90vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    top: 2em;
    margin-right: 0;
  }
  header .header-view-case {
    justify-content: center;
  }
}

figcaption, .all-work {
  text-transform: uppercase;
  color:rgb(147, 147, 147);
  font-size: 4vh;
  margin-bottom: 1em;
}

.all-work {
  text-transform:none;
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

.all-work span {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-weight: 600;
}

.all-work span:after {
  content: "";
  display: block;
  background: url("/styles/images/arrow-down.png") no-repeat;
  background-size: 0.9vw;
  width: 4vh;
  height: 8vh;
  float: right;
  margin: 0.4em 0 0 0.4em;
}

.cases { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  padding-top: 0em;
  padding-bottom: 5em;
  margin: 0 auto;
}

.cases div {
  padding-bottom: 3em;
  width: 40vw;
}

.cases div img {
  width: 40vw;
}

.cases div:nth-of-type(2n) {
  margin-left: 0.7em;
}

.cases div:nth-of-type(1n) {
  margin-right:0.7em;
}
.cases p {
 font-size: 6vh;
 margin: 0;
 width: 40vw;
}

.cases a {
  color: rgb(26, 24, 247);
  font-size: 4vh;
}

.cases a:before {
  content: "";
  display: block;
  background: url("/styles/images/arrow.png") no-repeat;
  background-size: 0.9vw;
  width: 4vh;
  height: 8vh;
  float: left;
  margin: 0.4em 0 0 0;
}

@media only screen and (max-device-width: 600px) {
  .cases div img { 
    width: 90vw;
  }
  .cases {
    display: block;
  }
  .cases a {
    visibility: hidden;
  }
  .cases p {
    width: 87vw;
  }
}

.clients {
  background-color:rgb(243, 246, 246);
}

.clients h2{
  font-size: 7vw;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 2em;
}

.clients p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.clients div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 70vw;
  padding-bottom: 5em;
}

.clients img {
  width: 33%;
}

  @media only screen and (max-device-width: 600px) {
    .clients img:nth-of-type(n+7) {
      display: none;
    }
    .clients img {
      width: 50%;
    }
  }

/* FOOTER  */
footer {
 display: flex;
 background-color: black;
 width: 100vw;
}

.footer-top, .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  margin: 0 auto;
  width: 80vw;
}

footer .logo-dept {
  width: 4.5em;
  height: 2em;
}

.footer-top div:nth-of-type(1) a {
  color: #ffffff;
  margin-left: 1em;
  font-size: 1.4vw;
}

.footer-top div:nth-of-type(2) img {
  height: 1em;
  margin-right: 1.4em;
}

.footer-bottom {
  display: flex;
}

.footer-bottom div {
  display: flex;
  justify-content: space-between;
  width: 55vw;
}

.footer-bottom p {
  color: rgb(128, 128, 128);
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-device-width: 600px) {
  footer .logo-dept {
   display: none;
 }.footer-top div a,  .footer-top div:nth-of-type(2) img{
   display: block;
 }
 .footer-top div:nth-of-type(1) a {
   font-size: 2em;
   justify-content: flex-start;
} .footer-top div:nth-of-type(2) img {
  margin-bottom: 2em;
  height: 2em;
} .footer-bottom div, .footer-bottom {
  display: block;
} .footer-bottom div {
  margin-bottom: 2em;
}
}

.back-top {
  background-color: rgb(255, 255, 255);
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.back-top p {
  color: rgb(26, 24, 247);
  font-size: 3.5vh;
}

.back-top img {
  height: 2em;
}

.back-top a:focus ~ .back-top   {
  outline: none !important;
  border:2px solid rgb(26, 24, 247);
}

@media only screen and (max-device-width: 600px) {
  .back-top {
    display: none;
  }
}
